<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="DESKTOP-A7TJSGV\jesua"
			 connectionString="Data Source=DESKTOP-A7TJSGV;Initial Catalog=dbCalculator;Integrated Security=False;Connect Timeout=30;Encrypt=False;Trust Server Certificate=False;Application Intent=ReadWrite;Multi Subnet Failover=False"
			 providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>
</configuration>